<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: header"/>
<body>
<head th:replace="fragments/head :: navbar"/>
<div class="container">
    <div class="col-10 mx-auto mt-3">
        <div class="row">
            <div class="col-3">
                <h1>Product list</h1>
            </div>
            <div class="col-9">
                <form class="form-inline" th:method="get">
                    <input type="text" th:value="${param.minPrice}" class="form-control-md" id="min-filter"
                           name="minPrice" placeholder="Min price">
                    <input type="text" th:value="${param.maxPrice}" class="form-control-md" id="max-filter"
                           name="maxPrice" placeholder="Max price">
                    <input type="text" th:value="${param.titleFilter}" class="form-control-md" id="title-filter"
                           name="titleFilter" placeholder="Find">
                    <button type="submit" class="btn btn-outline-dark"><i class="fas fa-search"></i></button>
                    <a class="btn btn-outline-dark" th:href="@{/product/new}">ADD</a>
                </form>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col" th:include="fragments/sort_header :: sort_header('Id', 'id')">id</th>
                <th scope="col" th:include="fragments/sort_header :: sort_header('Title', 'title')">Title</th>
                <th scope="col" th:include="fragments/sort_header :: sort_header('Description', 'description')">Description</th>
                <th scope="col" th:include="fragments/sort_header :: sort_header('Price', 'price')">Price</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${products.hasContent()}" th:each="product : ${products}">
                <th scope="row" th:text="${product.id}">1</th>
                <th scope="row" th:text="${product.title}">1</th>
                <th scope="row" th:text="${product.description}">1</th>
                <th scope="row" th:text="${product.price}">1</th>
                <th>
                    <a class="btn btn-success" th:href="@{/product/{id}(id = ${product.id})}"><i
                            class="fas fa-edit"></i></a>
                    <a class="btn btn-danger" th:href="@{/product/delete/{id}(id = ${product.id})}">
                        <i class="far fa-trash-alt"></i></a>
                    <a class="btn btn-primary" th:href="@{/product/addBasket/{id}(id = ${product.id})}">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                </th>
            </tr>

            <tr th:unless="${products.hasContent}">
                <td colspan="5">No data</td>
            </tr>
            </tbody>
        </table>
    </div>

    <ul class="pagination pagination-sm justify-content-end">
        <li class="page-item"><a class="page-link text-dark border-dark" th:href="@{/product(
                    pageNum=${products.number + 1},
                    pageSize=3,
                    titleFilter=${param.titleFilter},
                    minPrice=${param.minPrice},
                    maxPrice=${param.maxPrice}
                    )}">3</a></li>
        <li class="page-item"><a class="page-link text-dark border-dark" th:href="@{/product(
                    pageNum=${products.number + 1},
                    pageSize=5,
                    titleFilter=${param.titleFilter},
                    minPrice=${param.minPrice},
                    maxPrice=${param.maxPrice}
                    )}">5</a></li>
        <li class="page-item"><a class="page-link text-dark border-dark" th:href="@{/product(
                    pageNum=${products.number + 1},
                    pageSize=7,
                    titleFilter=${param.titleFilter},
                    minPrice=${param.minPrice},
                    maxPrice=${param.maxPrice}
                    )}">7</a></li>
    </ul>

    <div th:if="${products.hasContent()}">
        <nav aria-label="product list">
            <ul class="pagination justify-content-center">
                <li th:if="${products.number} > 0"
                    class="page-item">
                    <a class="page-link text-dark border-dark" th:href="@{/product(
                    pageNum=${products.number},
                    pageSize=${products.size},
                    titleFilter=${param.titleFilter},
                    minPrice=${param.minPrice},
                    maxPrice=${param.maxPrice}
                    )}">Previous</a></li>
                <li th:each="pageNum : ${#numbers.sequence(1, products.totalPages)}"
                    class="page-item"
                    th:classappend="${pageNum == products.number + 1} ? 'active'">
                    <a class="page-link text-dark border-dark" th:href="@{/product(
                    pageNum=${pageNum},
                    pageSize=${products.size},
                    titleFilter=${param.titleFilter},
                    minPrice=${param.minPrice},
                    maxPrice=${param.maxPrice}
                    )}">[[${pageNum}]]</a>
                </li>
                <li th:if="${products.number} + 1 < ${products.totalPages}"
                    class="page-item">
                    <a class="page-link text-dark border-dark" th:href="@{/product(
                    pageNum=${products.number + 2},
                    pageSize=${products.size},
                    titleFilter=${param.titleFilter},
                    minPrice=${param.minPrice},
                    maxPrice=${param.maxPrice}
                    )}">Next</a></li>
            </ul>
        </nav>
    </div>
</div>

    <script th:replace="fragments/footer :: scripts"/>
</body>
</html>